#about {
  margin-top: 20px;
}

.about-content {
  margin-top: 20px;
}

.about-content {
  p {
    margin-top: 10px;
  }

  a {
    color: $dark-color;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      color: $hover-color;
    }
  }
}
